.main-card2 {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

.card-2 {
    width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  /* grid-template-rows: repeat(1, 1fr); */
  gap: 10px;
  justify-content: center;
  align-items: center;
  

}

.para {
  width: 100%;
  height: 95%;
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0 20px;
}
.para-item {
  width: 90%;
  height: 90%;
  
  border-radius: 20px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  padding: 0 0 20px 0;
  gap: 20px;
}
.para h1 {
  font-size: 30px;
}
.para p {
  font-size: 20px;
}

.para2 {
 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para2 img {
  width: 90%;
  height: 90%;
  border-radius: 20px;
}
@media screen and (max-width: 800px) {
  .card-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* flex-direction: column-reverse; */
    width: 100%;
    gap: 20px;
  }
  .card-items1 {
    /* width: 60%; */
  }
}
