* {
  margin: 0px;
  padding: 0px;
}
.cards {
 
  padding: 20px;
  position: relative;
  gap: 20px;
  background-color: rgb(207, 205, 205);
  /* margin: 0px 40px 0px 40px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardItems {
width: 80%;
height: 80%;
   border-radius: 40px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 20px;
  gap: 10px;
  box-sizing: border-box;
  
}

/* .cardItems:hover {
  width: 305px;
  height: 355px;
  box-shadow: 0 0 10px black;
} */

.card-items1{
  /* background-color: brown; */
  /* width:300px; */
  width: 100%;
  height: 50%;
}

.card-items1 img{
  width:100%;
  height: 100%;
   border-top-left-radius: 20px;
 border-top-right-radius: 20px;
 
}

.card-items2 {
  width: 100%;
  height: 50%;
  background-color: white;
  /* border-radius: 20px; */
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
 padding-bottom:10px ;
 
 border-bottom-left-radius: 20px;
 border-bottom-right-radius: 20px;
  text-align: center;

}

.card-items2 button{
 width: 80%;
 height: 50px;
 color: white;
 background:linear-gradient(to right, rgb(126, 126, 224),rgb(57, 57, 228));
 border-radius: 20px;
 font-size: medium;
}
.main-item{
  
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 border-radius: 10px;
}
.main-item:hover{
    width: 90%;
    height: 90%;
  }

@media screen and (max-width:800px) {
  .cardItems{
    grid-template-columns: repeat(1,1fr);
    
    padding: 0px;
    text-align: start;
  }
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-item:hover{
    width: 90%;
    height: 90%;
  }

}
